@import url(./fonts.css);

* {
    font-family: 'Manrope-Medium', sans-serif;
    padding: 0;
    border: none;
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    color: inherit;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-image: url(../img/BG.png);
    background-size: cover;
    height: 1131px;
}

header .navigation .container {
    display: flex;
    justify-content: space-around;
}



header .navigation .container .button {
    border-radius: 10px;
    padding: 16px 24px 16px 24px;
    height: 70px;
    margin-top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
}

header .navigation .container .button:hover {
    cursor: pointer;
    height: 110px;
    box-shadow: 0 4px 8px rgb(255, 255, 255);
}

header .navigation .container .button p {
    font-family: 'Lato', sans-serif;
    color: #F87932;
    letter-spacing: 2px;
    font-size: 20px;
}

header .traveling .container .rombs .romb-slider,
.romb {
    transform: rotate(45deg);
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    background-color: black;
    background-size: contain;
    position: relative;
}

header .traveling .container .rombs .romb img {
    transform: rotate(-45deg);
    width: 150%;
    position: absolute;
}

header .traveling .container .rombs .romb-1 {
    width: 233px;
    height: 233px;
    position: relative;
    top: -330px;
    left: 150px;
}

header .traveling .container .rombs .romb-1 img {
    top: -170px;
    left: -100px;
    transition: 0.5s;
    transform: rotate(0);
}

header .traveling .container .rombs .romb-2 {
    width: 133px;
    height: 133px;
    position: relative;
    top: -290px;
    left: 290px;
}

header .traveling .container .rombs .romb-2 img {
    width: 200%;
    top: -40px;
    left: -70px;
    transition: 0.5s;
    transform: rotate(0);
}

header .traveling .container .rombs .romb-3 {
    width: 268px;
    height: 268px;
    position: relative;
    top: -280px;
    left: 100px;
}

header .traveling .container .rombs .romb-3 img {
    width: 205%;
    top: -90px;
    left: -100px;
    transition: 0.5s;
    transform: rotate(0);
}

header .traveling .container .rombs .romb-4 {
    width: 156px;
    height: 156px;
    position: relative;
    top: -330px;
    left: -50px;
}

header .traveling .container .rombs .romb-4 img {
    top: -50px;
    transition: 0.5s;
    transform: rotate(0);
}

header .traveling .container .rombs .romb-5 {
    width: 225px;
    height: 225px;
    position: relative;
    top: -640px;
    left: -300px;
}

header .traveling .container .rombs .romb-5 img {
    top: -130px;
    left: -50px;
    transition: 0.5s;
    transform: rotate(0);
}

header .traveling .container .rombs .romb-slider {
    overflow: hidden;
    border: 5px solid white;
    border-radius: 10px;
    width: 361.52px !important;
    height: 361.52px !important;
    background-color: black;
    background-size: contain;
    position: relative;
    left: -200px;
    top: 150px;
}

header .traveling .container .rombs .romb-slider .slide img:hover,
header .traveling .container .rombs .romb img:hover {
    transition: 0.5s;
    transform: scale(1.3);
}

header .traveling .container .rombs .romb-slider .slide img {
    transition: 0.5s;
}

header .traveling .container .rombs .romb-slider .slide {
    transform: rotate(-45deg);
    width: 900px;
    top: -150px;
    left: -300px;
    transition: 0.5s;
}

header .traveling .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .traveling .container .text {
    font-size: 80px;
    margin-top: -700px;
}

header .traveling .container .text p {
    color: #39BFA7;
    font-weight: bold;
}

header .traveling .container .text span {
    color: #F87932;
}

header .traveling .container .text button span {
    color: white;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

header .traveling .container .text button {
    background-color: #F87932;
    padding: 16px 24px 16px 24px;
    width: 213px;
    height: 62px;
    font-size: 20px;
}

main .adventure {
    margin-top: 100px;
    height: 700px;
}

main .adventure .container {
    display: flex;
    justify-content: space-between;
}

main .adventure .container .textt {
    width: 40%;
}

main .adventure .container .textt .relax {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #666666;
    letter-spacing: 3px;
}

main .adventure .container .textt .welcome {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: #666666;
    letter-spacing: 3px;
}

main .adventure .container .textt .weather {
    font-family: 'Merriweather', sans-serif;
    font-size: 60px;
    margin-bottom: 30px;
}

main .adventure .container .rombss .romb-1 {
    width: 330px;
    height: 330px;
    border: 20px solid white;
    z-index: 2;
    position: relative;
    top: -500px;
    right: -250px;
}

main .adventure .container .rombss .romb-1 img {
    transform: rotate(-45deg);
    width: 150%;
    position: absolute;
    top: -100px;
}

main .adventure .container .rombss .romb-2 {
    width: 450px;
    height: 450px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -900px;
    right: -400px;
}

main .adventure .container .rombss .romb-2 img {
    transform: rotate(-45deg);
    position: absolute;
    width: 200%;
    top: -300px;
}

main .adventure .container .textt button {
    width: 213px;
    height: 62px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 16px 24px 16px 24px;
    background-color: #ffffff;
    border: 2px solid black;
    margin-top: 180px;
}

main .adventure .container .rombss .doroga {
    position: relative;
    top: -125px;
    left: -730px;
}

main .travel {
    background-image: url(../img/3\ block.png);
    margin-top: 100px;
    height: 1110px;
    background-size: cover;
}

main .travel h2 {
    font-family: 'Merriweather', sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    padding-top: 250px;
}


main .travel p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    letter-spacing: 5px;
}

main .travel .container .but {
    width: 180px;
    height: 180px;
    background-color: #F87932;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    position: relative;
    top: 110px;
    left: 550px;
}

main .travel .container .but .rombik {
    border: 5px solid gray;
    width: 150px;
    height: 150px;
    background-color: #F87932;
    border-radius: 10px;
}

main .travel .container .but .rombik .triangle {
    transform: rotate(-45deg);
    border: 50px solid transparent;
    border-radius: 10px;
    border-left: 50px solid rgb(255, 255, 255);
    position: relative;
    left: 40px;
    top: -20px;
}

main .rombiks {
    margin-top: -100px;
}

main .rombiks .container .romb {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 10px solid #39BFA7;
    background-color: white;
}

main .rombiks .container .romb p {
    transform: rotate(-45deg);
    font-family: 'Lato', sans-serif;
}

main .rombiks .container .romb .travelers {
    text-align: center;
    font-size: 32px;
    letter-spacing: 3px;
    margin-top: -15px;
    margin-left: 30px;
}

main .rombiks .container .romb .rombik {
    margin-top: 10px;
    margin-left: 10px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 5px solid #2A0606;
    background-color: #39BFA7;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .rombiks .container .romb .rombik p {
    color: white;
    font-size: 20px;
    letter-spacing: 3px;
    margin-left: -5px;
    margin-top: 10px;
}

main .rombiks .container {
    display: flex;
    justify-content: space-between;
}

main .rombiks .container .romb:nth-child(3) .travelers {
    margin-left: 10px;
    margin-top: -10px;
}

main .blog {
    margin-top: 200px;
    margin-bottom: 100px;
}

main .blog .container .text {
    text-align: center;
}

main .blog .container .text h2 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
}

main .blog .container .text p {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

main .blog .container .text .nizhe {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    color: #666666;
    margin-top: 20px;
}

main .blog .container .setka .grid-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 24px;
}

main .blog .container .setka .item {
    background-color: lightblue;
    overflow: hidden;
}

main .blog .container .setka .item1 {
    grid-row: span 2;
    width: 282px;
    height: 588px;
    background-image: url(../img/grid\ 1.jfif);
    background-size: cover;
}

main .blog .container .setka .item .panel {
    width: 100%;
    height: 200%;
    z-index: 2;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    transform: translateY(-32%);
    transition: 0.5s;
}

main .blog .container .setka .item .panel:hover {
    transform: translateY(-49%);
    transition: 0.5s;
}

main .blog .container .setka .item .panel p {
    color: white;
    font-family: 'Merriweather', sans-serif;
    font-size: 24px;
}

main .blog .container .setka .item .panel img {
    width: 80px;
}

main .blog .container .setka .item2 {
    grid-row: span 1;
    width: 282px;
    height: 282px;
    background-image: url(../img/grid\ 2.jfif);
    background-size: cover;
}

main .blog .container .setka .item3 {
    grid-row: span 1;
    grid-column: span 2;
    width: 610px;
    height: 282px;
    background-image: url(../img/grid\ 3.jfif);
    background-size: cover;
    background-position: 0px -90px;
}

main .blog .container .setka .item4 {
    grid-row: span 1;
    width: 282px;
    height: 282px;
    background-image: url(../img/grid\ 4.jfif);
    background-size: cover;
}

main .blog .container .setka .item5 {
    grid-row: span 1;
    width: 282px;
    height: 282px;
    background-image: url(../img/grid\ 5.jfif);
    background-size: cover;
}

main .blog .container .setka .item6 {
    grid-row: span 1;
    width: 282px;
    height: 282px;
    background-image: url(../img/grid\ 6.jfif);
    background-size: cover;
}

main .blog .container .blog-button {
    border: 2px solid black;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    padding: 16px 24px 16px 24px;
    width: 206px;
    height: 62px;
    background-color: white;
    letter-spacing: 3px;
    transform: translate(260%);
    margin-top: 50px;
}

main .tourist{
    background-image: url(../img/BG\ tourist.jfif);
    background-size: cover;
    height: 1901px;
    padding: 100px;
}

main .tourist .container{
    border: 10px solid white;
    padding: 50px;
}

main .tourist .container .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .tourist .container .text h2{
    font-family: 'Merriweather', sans-serif;
    font-size: 60px;
    color: white;
}

main .tourist .container .text p{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #eeeeee;
    letter-spacing: 5px;
    width: 690px;
    text-align: center;
}

main .tourist .container .text img{
    margin: 30px;
}

main .tourist .container .osnova{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

main .tourist .container .osnova .text-left{
    width: 30%;
}

main .tourist .container .osnova .text-right{
    width: 60%;
    display: flex;
    flex-direction: column;
}

main .tourist .container .osnova .text-left p{
    font-size: 60px;
    font-family: 'SedgwickAve', sans-serif;
    color: #39BFA7;
    margin-left: 160px !important;
}

main .tourist .container .osnova .text-right .tyxt{
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 50px;
}

main .tourist .container .osnova .text-right .tyxt-1{
    margin-top: 0;
}

main .tourist .container .osnova .text-right .tyxt .number{
    width: 15%;
    font-size: 80px;
    font-family: 'SedgwickAve', sans-serif;
    color: white;
}

main .tourist .container .osnova .text-right .tyxt .bykvi{
    font-size: 40px;
    font-family: 'Merriweather', sans-serif;
    color: white;
}

main .tourist .container .osnova .text-right .tyxt .bykvi span{
    font-size: 28px;
    font-family: 'SedgwickAve', sans-serif;
    color: #969696;
}

main .tourist .container button{
    background-color: #F87932;
    padding: 16px 24px 16px 24px;
    width: 213px;
    height: 62px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    color: white;
    letter-spacing: 3px;
    margin-top: 70px;
    transform: translate(230%);
}